pymupdf
langchain
faiss-cpu
sentence-transformers
pip install -U langchain-community
pip install sentencepiece

pip install ollama



.\.venv\Scripts\activate
& "C:\Users\ssmdha\AppData\Local\Programs\Ollama\ollama.exe" help
c+d exit



